<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: beige;">

    <center>
            <div class="main" style="border: 2px solid black; width: 400px;height: 150px;background-color: aquamarine;margin-top: 200px;">
                <h2>registered Successfully</h2>
                <a href="{{url_for('login_form')}}" style="margin-bottom: 5px;">Click  Here to Login</a>
            </div>
            
    </center>
   

    
</body>
</html>