
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] ,input[type=number]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 10%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}
.bi-eye,.bi-eye-slash{
  margin-left: -30px;
   cursor: pointer;
   position: relative;
   vertical-align: middle;
}

.error{
  color: #f44336;
}
.navbar{
  display: flex;
align-items: center;
justify-content: center;

background-color: #212529;
color:white;
padding: 10px;
margin-top: 0 ;
margin-bottom: none;
width: 100%;
/* position: fixed; */
}
.main{
  align-items: center;
  justify-content: center;
  width: 700px;
  margin-top: 90px;
  margin-left: 380px;
  border: 1px solid black;
}